<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <div class="row">
    <p class="ms-5 header fs-1">Alta Cliente</p>
    <form class="form-horizontal" method="post">
      <fieldset>
        <div class="form-group">
          <div class="col-md-4 mt-2 ms-5">
            <label for="fname">Nombre: </label>
            <input id="fname" name="name" type="text" class="form-control" [(ngModel)]="name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 mt-2 ms-5">
            <label for="fname">CIF: </label>
            <input id="lname" name="name" type="text" class="form-control" [(ngModel)]="CIF">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 mt-2 ms-5">
            <label for="fname">Dirección: </label>
            <input id="email" name="email" type="text" class="form-control"  [(ngModel)]="direction">
          </div>
        </div>

        <div class="col-md-2 mt-2 ms-5">
          <label for="exampleDataList" class="form-label me-2">Grupo</label>
          <select name="users"[(ngModel)]="group">
            <option value="">--Select--</option>
            <option value="1">Grupo 1</option>
            <option value="2">Grupo 2</option>
            <option value="3">Grupo 3</option>
            </select>
        </div>


        <div class="form-group">
          <div class="col-md-12 ms-5 mt-3">
            <button type="submit" class="btn btn-primary btn-lg" (click)="createForm()">Guardar</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <hr>
  <h1 class="text-primary mt-3 mb-3">Listado clientes</h1>
  <app-register-client [data]="client"></app-register-client>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
